<div class="col-md-12">
  <div class="course">
    <%= link_to "Edit", edit_course_path(@course), class: "btn btn-sm btn-primary float-right" %>

    <h2 class="text-center my-3"><%= @course.title %></h2>
    <p><%= simple_format @course.description %></p>
  </div>
</div>
